@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background: #FFF;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 40%;
  border: #2F2F2F 6.5px solid;
  background: url("images/pp-bnw.png");
  background-size: cover;
  background-color: #BE3455;
  transition: ease-in-out .25s;
}

.picture:hover {
  border: #BE3455 6.5px solid;
  background: url("images/pp-color.png");
  background-size: cover;
  background-color: #2F2F2F;
  transform: scale(1.1);
}

h1 {
  font-family: 'Caveat', cursive;
  font-weight: 500;
  font-size: 75px;
  color: #2F2F2F;
  transition: ease-in-out .25s;
  margin: 20px 0px 0px 0px;
  text-decoration: none;
  position: relative;
}

h1:hover {
  color: #FFF;
}

h1::before {
  content: '';
  background-color: #BE3455;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 6.5px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

h1:hover::before {
  bottom: 0;
  height: 100%;
}

.content {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  color: #2F2F2F;
}

a {
  color: #BE3455;
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #BE3455;
  left: 0;
  bottom: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .22s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(18.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}