@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background: white;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 40%;
  border: #2F2F2F 5px solid;
  background: url("images/pp-bnw.png");
  background-size: cover;
  background-color: #BE3455;
  transition: all .25s;
}

.picture:hover {
  border: #BE3455 5px solid;
  background: url("images/pp-color.png");
  background-size: cover;
  background-color: #2F2F2F;
  transform: scale(1.1);
}

.text-line {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s linear forwards;
  margin: 30px 0px 20px 0px;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.text-line text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 65px;
  fill: transparent;
  stroke: #2F2F2F;
  transition: all .25s;
}

.text-line text:hover {
  stroke: #be3455;
}

.content {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  color: #2F2F2F;
  padding: 0px 0px 0px 0px;
}

.content p {
  margin: 0px 0px 15px 0px;
}

.content p a {
  color: #BE3455;
  position: relative;
  text-decoration: none;
}

.content p a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #22c1c3, #fdbb2d);
  left: 0;
  bottom: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .25s ease-in-out;
}

.content p a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(18.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}