@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
  height: 100vh;
  position: relative;
  margin: 0;
  background-color: #F7ECDE;
  font-family: sans-serif;
}

main {
  margin: 0;
  width: 100vw;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
  font-weight: 700;
  color: #2F2F2F;
  margin: 0;
  transition: 250ms;
}

.content {
  color: #363636;
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
}

img {
    border-radius: 50%;
    transition: transform .1s;
}

img:hover {
    transform: scale(1.075);
}

h1:hover {
    color: #54BAB9;
    transition: 250ms;
}